* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #868483, #000);
    border-radius: 100rem;
  }
  body::-webkit-scrollbar-track {
    border-radius: 100rem;
    background-color: white;
  }
html {
    font-family: 'Nunito', sans-serif;
}

/* -------- header -------- */
a{
    text-decoration: none;
}
.header__nav--item {}


body {
  
    /* width: 1200px; */

}

.header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
}

.header__wrap {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header__logo--box {
    width: 100px;
    height: 100px;
}

.header__logo--box a {}

.logo-box__img {
    width: 100%;
    height: auto;
}

.header__nav--item {
    list-style: none;
}

.header__nav {
    flex: 2;
    margin-left: 60px;
}

.header__nav--list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__nav--item--link {
    text-decoration: none;
    color: #121212;
    display: block;
    padding: 6px 10px;
    margin: 0 6px;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.active.header__nav--item>.header__nav--item--link {
    color: rgb(253, 74, 74);
}

.header__nav--item:hover>.header__nav--item--link {
    color: rgb(253, 74, 74);
}

.header__search--box {
    margin-right: 20px;
    position: relative;
}
iframe{
    width: 100%;
    height: 600px;
}
.form-control {}

.header__search--input {

    width: 260px;
    height: 26px;
    padding-inline: 10px 36px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #ccc;

}

.header__search--input:focus {
    outline: 1.8px solid #121212;
}

.header__search--box--search--icon--box {
    position: absolute;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: 0px;
    width: 40px;
}

.header__search--box--search--icon {}


.header__cart--box {}

.header__cart--box--img {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__account {
    margin-left: 30px;
}

.header__login--btn {
    height: 34px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #121212;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
}

.header__login--btn:hover {
    opacity: 0.7;
}

/* main */
/* content */
.content {
    padding-top: 60px;
    /* max-width: 1400px; */
    margin: 0 auto;
    /* background-color: rgb(226, 226, 226); */
}

/* --- Section banner --- */
.section--banner {
    margin-top: 30px;
    position: relative;
}

.section_1--banner--box img {
    margin-top: 30px;
}

.section_1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.bookRooms{
    /* position: absolute; */
    /* text-align: center; */
    bottom: 0px;
    right: 50%;
    /* width: 1000px; */
    /* background-color: #fff; */
}
.form{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    /* margin: auto; */
}
.container{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
    /* background-color: #fff; */
    height: 120px;
     /* margin-bottom: -10px; */
    box-shadow: 15px 15px 15px 15px  rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 2px;
    padding: 20px;
    margin-top: 20px;
    /* z-index: 1; */
    margin-bottom: 30px;

}
.input-group input:focus{
    border: none;
}
.input-group input {
    background-color: #F8F8F8;
    color: #383838;
    border: none;
    height: 50px;
    padding: 0 15px;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    line-height: 1.6;
}
.type{
    background-color: #F8F8F8;
    color: #383838;
    border: none;
    height: 50px;
    padding: 0 15px;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    line-height: 1.6;
}

.button-bookRoom{
    background-color: #767070;

    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 50px;
    padding: 0 15px;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    line-height: 1.6;
    cursor: pointer;
    
}

.button-bookRoom:hover{
    color: white;
    background-color: rgb(78, 59, 37)  ;
    transition: .5s;
}

.section_2{
    width: 1400px;
    margin: auto;
}
.section_2--introduce-box {
    display: grid;
    grid-template-columns: 300px 600px 500px;
    grid-gap: 32px;
    position: relative;
    margin-top: 20px;
}

.section_2--introduce-title .section_2--title {
    background-color: #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-weight: 700;
}

.section_2--introduce-title .section_2--title1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.section_2--content {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 40px;
    /* margin-left: -39px; */
    color: #121212;
}

.section_2--img img {
    margin-left: 100px;
}

.section_2_content {
    margin-left: 292px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  

}

.letter-spacing {
    letter-spacing: 0.5px;
    line-height: 2;
}
/* product_box */
.product_box{
    position: relative;
}
/* tiêu đề */
.title_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title_product_box{
    font-size: 32px;
}
b{
    display: block;
    /* -webkit-box-flex: 1;
    -ms-flex: 1; */
    flex: 1;
    height: 2px;
    opacity: 1;
    background-color: currentColor;
}
/* sản phẩm  */
.show_product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    padding: 50px;
    width: 1500px;
    margin: auto;
}
.card{
    /* position: absolute;
    left: 50%;
    top: 50%; */
    border-radius: 30px;
    /* transform: translate(-50%,-50%); */
    width: auto;
    background-color: #2b2b2b;
    cursor: pointer;
}
.basicInfor{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    border: 0.25px solid gray;
}

.title .category,
.title .info{
    font-weight: 600;
    font-size: x-small;
}
.tilte .name{
    /* margin-bottom: 20px; */
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 5px;
    
}
.card .img{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    height: 375px;
}
.card .img img{
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s;
    height: 375px;
    /* display: none; */
}

.card .img input{
    position: absolute;
    opacity: 0;
}
.colors {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    /* margin-left: 5px; */
}
.colors label{
    margin-right: 10px;
}
.colors .name{
    margin-bottom: 10px;
}
.colors .ellipse img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.more{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.more .price{
    color: #fff;
}
.more .stars{
    color: #9b9a9b;
}
.text_yellow{
    color: yellow;
}
.addcart{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.addcart i{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 90px;
    bottom: -15px;
    border-radius: 50%;
    border: 5px solid #2b2b2b;
    color: #121212;
    opacity: 0;
    transform: translate(0,10px);
    transition: 0.5s;
}
.addcart::after,
.addcart::before{
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 56px;
    height: 38px;
    content: '';
    right: 47px;
    border-bottom-left-radius: 55%;
    /* box-shadow: 0 20px 0 0 #2b2b2b; */
    opacity: 0;
    transform: translate(0,20px);
    transition: 0.5s;
}
.addcart::after{
    right: unset;
    /* background-color: red; */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 55%;
    left: 265px;
}
.card:hover .addcart i,
.card:hover .addcart::before,
.card:hover .addcart::after
{
    opacity: 1;
    transform: translate(0,0);
}
.view_detail a button{
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: rgba(73, 73, 73, 0.3);
    /* border: 0.25px solid rgba(73, 73, 73, 0.3); */
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
}
.view_detail a button:hover{
    background-color: rgba(47, 46, 46, 0.3);
    transition: all .5s;
}
.view_detail{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    transition: 0.45s;
}
.card:hover .view_detail{
    opacity: 1;
    
}

/* -------- Footer -------- */
.footer__col_2{
    flex: 1;
}

.footer{ 
    background-color: #767070;
    /* margin-top: 50px; */
}

.footer__wrap{ 
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer__wrap--top{ 
    display: flex;
}

.footer__logo--box{ 
    flex: 1;
}

.footer__logo--img{ 
    width: 250px;
    height: auto;

}

.footer__col--title{ 
    /* margin-top: 50px; */
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__col--list{ 

}

.footer__col--item:hover > .footer__col--item--link{ 
    color:rgb(253, 74, 74);
}

.footer__col--item--link{
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    display: block;
    font-size: 16px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.footer__col_4{ 
    flex: 1.4;
    color: #fff;
}

.footer__col_4 h3{ 
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.footer__col_4 p{ 
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    line-height: 20px;
}

.footer__wrap-bottom{ 
    color: #fff;
    text-align: center;
}

.footer__wrap-bottom h3{ 
    font-size: 26px;
    margin-bottom: 10px;
}

.footer__wrap-bottom p{ 
    font-size: 16px;
}


.button_update{
           
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: #2b2b2b;
    color: white;
    transition: .5s;
    border-radius: 2px;

}
.button_update:hover{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);

}